@import url("https://fonts.googleapis.com/css?family=Niramit:300,300i,700");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  letter-spacing: 1px;
}

.container {
  max-width: 650px;
  margin: 50px auto;
}

.lien-timeline {
  font-weight: 700;
}

p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.8;
  color: black;
}

h5 {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (min-width: 601px) {
  .timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;
  }
  .timeline:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: gray;
  }
  .timeline .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
  }
  .timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -114px;
    top: 4px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: #4f537b;
  }
  .timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .timeline .timeline-elu {
    display: flex;
    flex-direction: row;
  }
  .timeline .timeline-elu img {
    width: 25%;
    height: 25%;
    border-radius: 100%;
  }
  .timeline .timeline-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-body {
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
  }
  .timeline .timeline-body:before {
    content: "";
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
  }
  .timeline .timeline-body .timeline-title {
    margin-bottom: 1rem;
  }
  .timeline .timeline-body .timeline-title::first-letter {
    text-transform: uppercase;
  }
  .timeline .timeline-body .timeline-title .badge {
    background: #246667;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 14px;
  }
  .timeline .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: 0.4;
    margin-top: 16px;
    font-size: 11px;
  }
  .timeline.primary .badge,
  .timeline.primary .timeline-icon {
    background: #246667 !important;
  }
  .timeline.info .badge,
  .timeline.info .timeline-icon {
    background: #11cdef !important;
  }
  .timeline.success .badge,
  .timeline.success .timeline-icon {
    background: #00bf9a !important;
  }
  .timeline.warning .badge,
  .timeline.warning .timeline-icon {
    background: #ff8d72 !important;
  }
  .timeline.danger .badge,
  .timeline.danger .timeline-icon {
    background: #fd5d93 !important;
  }
}
.date {
  padding-bottom: 15px;
}

.author {
  font-family: inherit;
  padding: 3em;
  text-align: center;
  width: 100%;
  color: white;
}
.author a:link,
.author a:visited {
  color: white;
}
.author a:link:hover,
.author a:visited:hover {
  text-decoration: none;
}
.author .btn:link,
.author .btn:visited {
  margin-top: 1em;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 100;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: black;
  padding: 1.5em 2rem;
  border-radius: 1em;
  transition: 0.5s all;
}
.author .btn:link:hover, .author .btn:link:focus, .author .btn:link:active,
.author .btn:visited:hover,
.author .btn:visited:focus,
.author .btn:visited:active {
  background-color: #1a1a1a;
}

@media screen and (max-width: 600px) {
  .timeline {
    position: relative;
    padding-left: 1rem;
    margin: 0 0 0 30px;
    color: white;
  }
  .timeline:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #246667;
  }
  .timeline .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
  }
  .timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -60px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: #4f537b;
  }
  .timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .timeline-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline-body {
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
  }
  .timeline-body:before {
    content: "";
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
  }
  .timeline-body .timeline-title {
    margin-bottom: 1.4rem;
  }
  .timeline-body .timeline-title::first-letter {
    text-transform: uppercase;
  }
  .timeline-body .timeline-title .badge {
    background: #246667;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
  }
  .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: 0.4;
    margin-top: 16px;
    font-size: 11px;
  }
}/*# sourceMappingURL=main-sass.css.map */